body {
  background-color: #eee;
  font-family: helvetica;
}

h1 {
  text-align: center;
  color: #333
}

.player {
  display: inline-block;
  background-color: #ede;
}

.footer {
  background-color: #ede;
}
