body {
  background-color: #eee;
  font-family: helvetica;
  text-align: center;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

img {
  max-width: 320px;
  max-height: 320px;
}

.playerDiv {
  display: inline-block;
  background-color: #ede;
  min-width: max-content;
}

.footer {
  background-color: #ede;
}

.warning {
  color: #f00;
  display: none;
}

.buttonDiv {
  background-color: #dcd;
  margin-top: 5px;
}

.num {
  border-radius: 100%;
  border: 2px solid #eee;
  height: 30px;
  width: 30px;
  font-size: 25px;
  color: #333;
  cursor: pointer;
}

.textbox {
  color: #333;
  background-color:#eee;
  border: 2px solid #ddd;
  text-align: center;
}

.button {
  display: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom:10px;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  height: 25px;
  width: 50px;
  background-color: #f00;
  border: 2px solid #fff;
}

.reloop {
  width: 55px;
}

.b {
  display: inline-block;
}

.buttonSubDiv {
  margin-left: 5px;
  margin-right: 5px;
}

.result {
  cursor: pointer;
}

#title {
  font-family: 'Raleway', helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  background-color: red;
  border: 5px solid #fff;
  border-radius: 5%;
  height: 60px;
  width: 400px;
}

#searchDiv div {
  display: inline-block;
  max-width: 350px;
  max-width: 450px;
  border: solid 5px #000;
  margin-bottom: 15px;
}
